@import url(https://fonts.googleapis.com/css?family=Raleway|EB+Garamond);
.container {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
}

h1 {
  color: #E65C00;
  font-family: 'EB Garamond', sans-serif;
  font-size: 36px;

}

.head {
  display: inline-flex;
  border-bottom: 2px solid whitesmoke;
  margin-left: 50px;
}

.search {
  padding-top: 40px;
  padding-left: 15px;
}

.box {
  height: 25px;
  width: 200px;
}

.button {
  margin-left: 0;
  width: 80px;
  height: 25px;
  background-color: #0099CC;
  color: white;
  border-radius: 5px;
  border: 2px solid #0099CC;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

nav {
  padding-top: 40px;
}

.nav {
  list-style: none;
  margin-left: 40px;

}

li {
  display: inline;
  padding: 10px;
}

.sign {

}

ul {
  display: inline;
  padding-top: 45px;
}

li a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #0099CC;
  font-size: 13px;
}

li a:hover {
  text-decoration: underline;
}

.sign {
  border: 1px solid #0099CC;
  border-radius: 15px;
}
